<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>经期3天</string>
		<string>经期4天</string>
		<string>经期5天</string>
		<string>经期6天</string>
		<string>经期7天</string>
		<string>经期8天</string>
		<string>经期9天</string>
		<string>经期10天</string>
	</array>
	<array>
		<string>周期20天</string>
		<string>周期21天</string>
		<string>周期22天</string>
		<string>周期23天</string>
		<string>周期24天</string>
		<string>周期25天</string>
		<string>周期26天</string>
		<string>周期27天</string>
		<string>周期28天</string>
		<string>周期29天</string>
		<string>周期30天</string>
		<string>周期31天</string>
		<string>周期32天</string>
		<string>周期33天</string>
		<string>周期34天</string>
		<string>周期35天</string>
	</array>
</array>
</plist>
