<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>1年</string>
		<string>2年</string>
		<string>3年</string>
		<string>4年</string>
		<string>5年</string>
		<string>6年</string>
		<string>7年</string>
		<string>8年</string>
		<string>9年</string>
		<string>10年</string>
	</array>
	<array>
		<string>1个月</string>
		<string>2个月</string>
		<string>3个月</string>
		<string>4个月</string>
		<string>5个月</string>
		<string>6个月</string>
		<string>7个月</string>
		<string>8个月</string>
		<string>9个月</string>
		<string>10个月</string>
		<string>11个月</string>
	</array>
	<array>
        <string>1个星期</string>
        <string>2个星期</string>
        <string>3个星期</string>
        <string>4个星期</string>
	</array>
</array>
</plist>
