<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>语文</string>
		<string>数学</string>
		<string>英语</string>
	</array>
	<array>
		<string>优秀</string>
		<string>良好</string>
		<string>合格</string>
	</array>
</array>
</plist>
