<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>大专以下</string>
	<string>大专</string>
	<string>本科</string>
	<string>硕士</string>
	<string>博士</string>
	<string>博士后</string>
</array>
</plist>
